{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %} 


  {% block content %}
  <div class="container">
  <h1><font color="blue">Deputy Managing Director</font></h1> 
 <html>
  <body>
      <p align="justify">
        </p>ELAINE PANG, Ph.D.</p>

<p>Biography</p>
<img src="{% static 'img/elaine.jpeg'  %}" align="left" width="230" height="180">
<p align="justify">
    My research focuses on exploring in-service teachers’ perceptions of their continuing professional development (CPD) in relation to their pupils’ needs. The aim of my research is to explore teachers’ perceived views of CPD and changes in their practice. My research interest in the area of CPD for teachers came from my experience of training in-service teachers for seven years in Malaysia before pursuing my PhD research at Warwick. The research findings from this study are intended to shed some light on teachers’ perceptions of CPD they attend and their real needs. This would be of interest to agencies who provide CPD for teachers to help them improve their craft of teaching. My other research interests include professional development of teacher educators, the teaching of phonics, collaborative CPD, online based CPD, trends in professional development, the flipped classroom, blended learning and MOOCs.
  </p>
</div>
</body>
</html>
<!-- </div>
</body>
</html> -->
{% endblock %}
