{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %} 


  {% block content %}
  <div class="container">
  <h1><font color="blue">Home</font></h1> 
 <html>
  <body>
      
    
      <!-- <p>
      <b><font color ="black">RYTEN LAB</font></b> content
      content
      </p> -->

      <p align="justify">
       eDuTech Consultancy company Ltd is a busines enterprise which sepecialises in educational supports, software development (medical softawres for predicting genes associated with diseases, application software, education technology and so on). The company is made up of high calibre academics with Ph.Ds who are specialist in their area of work and research.
       These academics and educators have several years of training and supporting teachers in the UK and Malaysia to improve their continouse professeional development. 
     </p>
</div>
  </body>
 </html>
  <!-- </div>
  </body>
 </html> -->
  {% endblock %}


  