{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %} 


  {% block content %}
  <div class="container">
  <h1><font color="blue">Maintenance</font></h1> 
 <html>
  <body>
      


    <p align="justify">
      Maintenance and reparies are in the area of hardware troubleshooting and repair/configuration of software systems. We have several years of supporting educational institutions and industry in the aspect of first, second and third line supports.
        
   </p>
</div>
</body>
</html>
<!-- </div>
</body>
</html> -->
{% endblock %}
