{% extends 'base.html' %}
{% load staticfiles %}
{% block styles %}
<style>
.starter-template {
  text-align: center;
}


 </style> 
{% endblock %} 


  {% block content %}
  <div class="container">
  <h1><font color="red">Our vision</font></h1> 
 <html>
  <body>
      


    <p align="justify">
      Our vision statement in the long-run, is to educate and support organisations in reaching their expected goals. By supporting providing educational consultancy services and software and hardware services to industries to achieve their future outcomes. 
    We hope in the next 5 - 10 years to have spread across some areas in the UK with our services. We hope to provide educational support online for distance and under-represented people, students and learners within our host community and behond. </p>
</div>
</body>
</html>
<!-- </div>
</body>
</html> -->
{% endblock %}
